.content-container {
  border: 1px solid black;
  height: 50%;
  padding: 10px;
}
.content-container > span > time,
h6 {
  display: inline;
  margin: 10%;
}

.article-comment-container {
  border: 4px solid green;
  overflow: auto;
  height: 20pc;
}

.article-comment-card {
  border: 1px solid red;
  margin: 0;
  padding: 0;
  height: 18%;
}

.comment-form {
  border: 1px solid brown;
}

.content-container > .article-vote-button {
  background-color: aquamarine;
  height: 20px;
  display: inline-flex;
}

.article-comment-card > p {
  font-size: xx-small;
}

.article-comment-card > span > p {
  font-size: xx-small;
  display: inline;
}

div.article-comment-container {
  overflow: scroll;
}
div.article-comment-card {
  overflow: scroll;
}

.votes-counter-green {
  color: green;
}
.votes-counter-red {
  color: red;
}
.votes-counter-neutral {
  color: black;
}

.btn {
  cursor: pointer;
  outline: 0;
  color: green;
}

.btn:focus {
  outline: none;
}

input.like-btn {
  color: none;
  width: 20px;
  margin: 0;
}
input.dislike-btn {
  color: none;
  width: 20px;
  margin: 0;
}

#liked {
  background-color: olivedrab;
}
#disliked {
  background-color: crimson;
}
#neutral {
  background-color: bisque;
}
.article-vote-count {
  display: inline;
  font-style: oblique;
  font-size: 10px;
  border: 1px black solid;
  margin: 0;
  padding: 0;
  width: 25%;
}
