.comments {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 10%;
}

.article-comment-container {
  overflow: auto;
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2vw;
  justify-content: space-between;
  overflow-y: scroll;
  border: 1px solid rgb(220, 139, 52);
  border-radius: 5px;
}

.comment-card {
  border: 1px solid rgb(220, 139, 52);
  border-radius: 5px;
  display: flex;
  margin-left: 2vw;
  margin-right: 2vw;
  background-color: rgb(245, 242, 237);
}

.comments-title {
  font-size: 10px;
  margin-bottom: 10px;
}

.comments-container {
  margin: 2vh;
  border-radius: 10px;
}

.comment-image-container {
  margin-right: 1vw;
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
}

.comment-image-container img {
  margin: 0 3vw;
  height: 3vh;
  border-radius: 50px;
}

.comment-right-part {
  width: 94%;
  margin: 0% 3%;
}

.comment-content {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5vh;
  align-items: center;
}

.comment-author {
  margin-right: 8px;
  font-size: 15px;
  color: rgb(59, 130, 246);
}
.comment-date {
  margin-right: 1vw;
  font-size: 2vh;
  color: rgb(7, 52, 123);
}

.comment-text {
  font-size: 10px;
  color: rgb(7, 52, 123);
  margin-top: 1vh;
}

.comment-metadata {
  display: flex;
  justify-content: flex-end;
  margin-right: 5vw;
  margin-bottom: 1vw;
  align-items: center;
  background-color: rgb(212, 89, 36) 1px solid;
}

.comment-vote-count {
  margin: 0px;
  margin-left: 10vw;
}

#comment-votes-counter-green {
  color: green;
}
#comment-votes-counter-red {
  color: red;
}
#comment-votes-counter-neutral {
  color: black;
}

/* Post comment form */

.comment-form-title {
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-form-textarea {
  width: 100%;
  height: fit-content;
  margin: 2vw;
  padding: 2vw;
  border-radius: 8px;
}

.comment-form-button {
  font-size: 15px;
  padding: 8px;
  margin-bottom: 4px;
  margin-top: 4px;
  background: rgb(147, 169, 205);
  border-radius: 8px;
  color: white;
}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(5, 84, 254);
}

.comment-form-button:enabled {
  background: rgb(207, 108, 32);
}

.comment-form-button:disabled {
  opacity: 0.5;
  cursor: default;
  background-color: orange;
}

.comment-delete {
  font-stretch: wider;
  font-size: 3vw;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 5vw;
  background-color: none;
}
.comment-delete > button {
  background-color: coral;
  padding: 0.3vh;
  border-radius: 5px;
  border: 2px;
  border-color: rgb(7, 52, 123);
  font-size: 1.6vh;
}
.comment-delete:hover > button {
  background-color: rgb(174, 38, 38);
}
.comment-delete:hover {
  color: rgb(162, 35, 35);
}

@media screen and (min-width: 280px) and (max-width: 700px) {
  .comments {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .article-comment-container {
    border: 1px solid orange;
    overflow: auto;
    height: 20pc;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 6vw;
    justify-content: space-between;
    overflow-y: scroll;
  }
}
