.article-comment-container {
  border: 4px solid green;
  overflow: auto;
  height: 20pc;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.comment-card {
  border: 1px solid red;
  border-radius: 5px;
  block-size: auto;
}
.comments {
  margin-top: 20px;
}
.comments-title {
  font-size: 10px;
  margin-bottom: 10px;
}

.comments-container {
  margin-top: 40px;
}
.comment-card {
  display: flex;
  margin-bottom: 1px;
}

.comment-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  margin-left: 5px;
  height: 3vh;
  border-radius: 50px;
}

.comment-right-part {
  width: 90%;
}

.comment-content {
  display: flex;
}

.comment-author {
  margin-right: 8px;
  font-size: 15px;
  color: rgb(59, 130, 246);
}
.comment-date {
  margin-right: 8px;
  font-size: 15px;
  color: rgb(7, 52, 123);
}

.comment-text {
  font-size: 10px;
}

.comment-vote-count {
  margin: 0px;
  margin-left: 10vw;
}

#comment-votes-counter-green {
  color: green;
}
#comment-votes-counter-red {
  color: red;
}
#comment-votes-counter-neutral {
  color: black;
}

/* Post comment form */

.comment-form-title {
  font-size: 15px;
}

.comment-submit {
  display: flex;
}

.comment-form-textarea {
  width: 50%;
  height: fit-content;
  margin-bottom: 4px;
  margin-top: 4px;
  margin-right: 4px;
  border: 1px solid rgb(210, 126, 47);
  border-radius: 8px;
}

.comment-form-button {
  font-size: 15px;
  padding: 8px;
  margin-bottom: 4px;
  margin-top: 4px;

  background: rgb(147, 169, 205);
  border-radius: 8px;
  color: white;
}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(5, 84, 254);
}

.comment-form-button:enabled {
  background: rgb(58, 88, 154);
}

.comment-form-button:disabled {
  opacity: 0.3;
  cursor: default;
}
