.article-container {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  border: solid blueviolet 1px;
  flex-wrap: wrap;
}

ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.5em;
  list-style: none;
}

.article-card {
  border: solid 1px black;
  margin: 10px;
  padding-bottom: 30px;
  background-color: rgba(246, 236, 236, 0.849);
  list-style-type: none;
  border-radius: 10px;
  height: 85%;
}

.article-card > h6 {
  margin: 0px;
  padding: 0px;
  display: inline;
}

article.article-card {
  height: 140px;
}

div.article-container {
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}
.card-column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .card-column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.card-author,
.card-topic {
  display: flex;
  vertical-align: middle;
}

.article-preview-button {
  border: solid black 1px;
}
.article_preview {
  height: 10px;
  overflow: auto;
  border: 1px solid black;
}

.profile-button {
  height: 5vh;
  width: 8vw;
}

#profileImage {
  border-radius: 10px;
  height: 4vh;
}
.profile-name {
  transform: translate(-50%, -50%);
  font-size: xx-small;
}
