.title-container {
  justify-content: center;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.title-container > h1 {
  color: orange;
}

.para-container {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
}
.home-para {
  margin-top: 15px;
  margin-bottom: 10px;
}

.filter-bar {
  display: flex;
  width: 100%;
  margin: 0;
  background-color: rgb(143, 169, 194);
}
.article-container {
  max-width: 90%;
  margin: 5% 5% 5%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-between;
  align-items: center;
  overflow-y: scroll;
  background-color: rgb(143, 169, 194);
  border: whitesmoke solid 2px;
  opacity: 0.9;
  border-radius: 10px;
}

.article-card {
  border: solid 2px orange;
  list-style-type: none;
  border-radius: 10px;
  flex-grow: 1;
  background-color: whitesmoke;
  padding-bottom: 0;
  width: fit-content;
}

.article-card-image {
  width: 70%;
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
}
.article-card-title {
  width: 100%;
  z-index: 1;
  padding: 1vw;
}
.article-card-subtext {
  width: 90%;
  margin: 5%;
  overflow-wrap: break-word;
}
.article-card-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px orange solid;
  border-top: 1px orange solid;
  padding: 1vw;
}
.article-card-topic {
  margin: 2% 40% 0;
  width: 20%;
}
.article-card-link {
  text-decoration: none;
}

div.article-container {
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}
.article-card-counts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  background-color: orange;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (min-width: 280px) and (max-width: 1000px) {
  .article-container {
    width: 80%;
    margin: 5% 10%;
  }
  .article-card {
    width: 90%;
    margin: 5% 5% 0%;
  }
  .article-card-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: none;
  }
  .article-card-counts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    background-color: orange;
  }
}
.card-author,
.card-topic {
  display: flex;
  vertical-align: middle;
}

.profile-button {
  height: 5vh;
  width: 10rem;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: black;
  transition: 0.3s ease-in-out;
}
a {
  font-size: 2vh;
  text-decoration: none;
}
.profile-button:hover {
  background-color: orange;
  color: black;
  font-weight: bolder;
}

.profile-image {
  border-radius: 10px;
  height: 130%;
}
