/* .NavBar {
  display: flex;
  justify-content: space-between;
  margin: 3rem 6rem;
}
.brand {
  display: flex;
  align-items: center;
}

.toggle {
  display: none;
}

.NavBar > img {
  height: 5vh;
}
 */
