.sort-bar {
  display: flex;
  align-items: center;
  margin-left: 4vw;
}

.sort-toggle {
  display: none;
}

.toggle-text {
  display: none;
}

.dropdown > button:hover,
.sort-div > button:hover {
  background-color: orange;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.sort-button {
  margin: 0;
  padding: 1vh;
  border-radius: 10vh;
}

.sort-by-menu {
  position: absolute;
  margin: 5px 0;
  width: fit-content;
}
.sort-bar > li {
  align-content: center;
  color: blue;
}

.sort-bar > li:hover {
  background-color: orange;
}

.sort-option > button {
  background-color: rgb(187, 185, 96);
  width: 23vw;
}

.sort-bar > li > button {
  text-align: center;
  width: fit-content;
  border: none;
  padding: 0.5vh;
  font: inherit;
  cursor: pointer;
}

.dropdown {
  display: flex;
  gap: 1.5vw;
  width: fit-content;
  padding: 1vh;
  align-items: center;
  background-color: rgb(218, 158, 84);
  border-radius: 40px;
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  .sort-bar {
    display: flex;
    align-items: center;
    margin-left: 3vw;
  }
  .toggle-text {
    display: inline-flex;
    font-weight: bold;
  }
  .sort-toggle {
    display: block;
    color: orange;
    font-size: 4vh;
    margin-top: 1vh;
    margin-right: 1vw;
  }
  .sort-options-false {
    display: none;
  }
  .sort-text-true {
    display: none;
  }
  .sort-text-false {
    font-size: 1.5vh;
    border: 1px red solid;
    width: max-content;
    text-align: center;
    margin: auto;
    margin-left: 1vw;
    color: orange;
  }
}
